{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dicoding:email" content="nararya.dh.outl@gmail.com">
    <title>Login | JustOneClick</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/basic.css">
    <link rel="stylesheet" href="styles/components.css">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>
<body>
    <div class="header flex--center">
        <div class="image-logo-text">
        </div>
    </div>
    <!-- body -->
    <div class="body flex-center-center">
        <!-- Box/dialog appear in the middle of page -->
        <div class="box1 flex-left-right">
            <!-- Leftside the box -->
            <div class="left1">
                <div class="text margin-top">
                    <span class="strong">Enter Password</span>
                    <span class="normal">Don't worry! We're keep your data safe.</span>
                </div>
                <div class="margin-top float-left form1">
                    <form method="post">
                        <div class="textbox">
                            <table style="border: 0; width: 100%;">
                                <tr>
                                    <td style="width: 20px;"></td>
                                    <td style="width: 20px;height: 50px;" class="flex-center-center"><img src="assets/icon/lock.svg" class="icon" style=" box-sizing: border-box;"></td>
                                    <td style="width: calc(100% - 40px);height: 100%;"><input type="password" placeholder="Password" class="input-1" name="Email"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="strip margin-top">
                            <button type="submit" class="submit">Continue</button>
                        </div>
                    </form>
                    <div class="text margin-top">
                        <span class="normal right">Forgot password? <a href="" class="link1">Click Here!</a></span>
                    </div>
                    <div class="text">
                        <span class="normal right">Didn't have an account? <a href="" class="link1">Sign Up</a></span>
                    </div>
                </div>
            </div>

            <!-- rightside the box -->
            <div class="right1">
                <div class="random-photo">

                </div>
            </div>
        </div>
    </div>
    <script src="scripts/dynamic2.js"></script>
</body>
</html>