<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | JustOneClick</title>
    <link rel="stylesheet" href="styles/basic.css">
    <link rel="stylesheet" href="styles/components.css">
    <meta name="dicoding:email" content="nararya.dh.outl@gmail.com">
    <link rel="icon" href="assets/logo/icon.webp">
</head>
<body>
    <div class="preloader">
        <img src="assets/icon/preloader.svg" alt="" srcset="" class="preloader-animation">
    </div>
    <div class="header-container">
        <div class="header3 flex-space-center">
            <div class="left3"></div>
            <div class="right3">
                <span class="normal" style="color: #fff; float: left; width: fit-content !important; font-size: 14px;"><img src="assets/icon/payment.svg" alt="" srcset="" class="icon_3">&nbsp;Payments(<strong>0</strong>)</span>
                <span class="margin-left"></span>
                <span class="normal margin-left" style="color: #fff; float: left; width: fit-content !important; font-size: 14px;"><img src="assets/icon/currency.svg" alt="" srcset="" class="icon_3">&nbsp;Currency(<strong>IDR</strong>)</span>
            </div>
        </div>
        <div class="header2 flex-space-center">
            <div class="cont-left">
                <div class="button-x back-icon" style="background-image: url('assets/icon/menu.svg'); float: left;">
                </div>
                <div class="image-logo-text-2 margin-left">

                </div>
            </div>
            <div class="cont-right">
                <div class="searchbox" id="searchbox">
                    <div class="icon flex-center-center">
                        <img src="assets/icon/search.svg" alt="" srcset="" class="icon_2" id="icon_search">
                    </div>
                    <div class="flex--center" style="width: calc(100% - 41px);">
                        <input type="text" class="input-2" id="search" autocomplete="off" placeholder="Search anything you want...">
                    </div>
                </div>
                <div class="button-x margin-left back-icon" style="background-image: url('assets/icon/chatbot.svg');">
                </div>
                <div class="button-x margin-left back-icon" style="background-image: url('assets/icon/settings.svg');">
                </div>
                <div class="button-x margin-left back-icon" style="background-image: url('assets/icon/notifications.svg');">
                </div>
                <div class="button-x margin-left back-icon" style="background-image: url('assets/icon/account.svg');">
                </div>
            </div>
        </div>
    </div>
    <div class="body2">
        <div class="left2">
            <div class="break">
                <div>
                    <span class="strong-2">JustOneClick Console</span>
                </div>
            </div>
            <span class="strong-2 menu_strip margin-top">Basic Option</span>
            <div class="menu_strip clk">
                Home
            </div>
            <div class="menu_strip clk">
                Payments Method
            </div>
            <div class="menu_strip clk">
                Products Manager
            </div>
            <hr class="margin-top" style="border: 0.5px solid #ddd; float: left; width: 100%;">
            <span class="strong-2 menu_strip margin-top">Reports</span>
            <div class=" menu_strip clk ">
                Income Report
            </div>
            <div class="menu_strip clk">
                Outcome Report
            </div>
            <div class="menu_strip clk focused">
                Budgets & Saving Plan
            </div>
            <hr class="margin-top" style="border: 0.5px solid #ddd; float: left; width: 100%;">
            <span class="strong-2 menu_strip margin-top">I&AM</span>
            <div class=" menu_strip">
                User Account
            </div>
            <div class="menu_strip clk">
                Track Users
            </div>
            <div class="menu_strip clk">
                Policy & Permissions
            </div>
            <hr class="margin-top" style="border: 0.5px solid #ddd; float: left; width: 100%;">
            <span class="strong-2 menu_strip margin-top">Debts & Loans</span>
            <div class="menu_strip clk">
                List of Loans
            </div>
            <div class="menu_strip clk">
                Loans Report
            </div>
            <hr class="margin-top" style="border: 0.5px solid #ddd; float: left; width: 100%;">
            <span class="strong-2 menu_strip margin-top">Calculators & Cashier</span>
            <div class="menu_strip">
                Products Calculator
            </div>
            <div class="menu_strip clk">
                Smart Counter Calculator
            </div>
            <div class="menu_strip clk">
                Calculation History
            </div>
            <div class="menu_strip margin-bottom clk">
                Transaction History
            </div>
        </div>
        <div class="right2"></div>
    </div>
    <div class="footer flex--center">

    </div>
    <script src="scripts/dynamic4.js"></script>
</body>
</html>