<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dicoding:email" content="nararya.dh.outl@gmail.com">
    <title>Sign Up | JustOneClick</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/basic.css">
    <link rel="stylesheet" href="styles/components.css">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>
<body>
    <div class="preloader">
        <img src="assets/icon/preloader.svg" alt="" srcset="" class="preloader-animation">
    </div>
    <div class="header flex--center">
        <div class="image-logo-text">
        </div>
    </div>
    <!-- body -->
    <div class="body flex-center-center">
        <!-- Box/dialog appear in the middle of page -->
        <div class="box1 flex-left-right">
            <!-- Leftside the box -->
            <div class="left1">
                <div class="text margin-top">
                    <span class="strong">Sign Up</span>
                    <span class="normal">We hope you type your actual data. Don't worry! We place your data safe and manage your data carefully.</span>
                </div>
                <div class="margin-top float-left form1">
                    <form method="post">
                        <table style="border: 0; width: 100%;">
                            <tr>
                                <td>
                                    <div class="textbox">
                                        <table style="border: 0; width: 100%;">
                                            <tr>
                                                <td style="width: 20px;"></td>
                                                <td style="width: calc(100% - 40px);height: 100%;"><input type="text" placeholder="First Name" class="input-1" name="Email"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div class="textbox">
                                        <table style="border: 0; width: 100%;">
                                            <tr>
                                                <td style="width: 20px;"></td>
                                                <td style="width: calc(100% - 40px);height: 100%;"><input type="text" placeholder="Last Name" class="input-1" name="Email"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="textbox" style="margin-top: 10px;">
                            <table style="border: 0; width: 100%;">
                                <tr>
                                    <td style="width: 20px;"></td>
                                    <td style="width: 20px;height: 50px;" class="flex-center-center"><img src="assets/icon/email.svg" class="icon" style=" box-sizing: border-box;"></td>
                                    <td style="width: calc(100% - 40px);height: 100%;"><input type="text" placeholder="Email" class="input-1" name="Email"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="textbox" style="margin-top: 10px;">
                            <table style="border: 0; width: 100%;">
                                <tr>
                                    <td style="width: 20px;"></td>
                                    <td style="width: 20px;height: 50px;" class="flex-center-center"><img src="assets/icon/call.svg" class="icon" style=" box-sizing: border-box;"></td>
                                    <td style="width: calc(100% - 40px);height: 100%;"><input type="text" placeholder="Phone Number" class="input-1" name="Email"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="strip margin-top">
                            <div class="h-captcha" data-sitekey="51c2d4fe-f05c-4d30-89fc-21b6c514333e" style="float: right;"></div>
                        </div>
                        <div class="strip margin-top">
                            <button type="submit" class="submit">Continue</button>
                        </div>
                    </form>
                    <div class="text margin-top">
                    <span class="normal right">Had an account? <a href="" class="link1">Log in</a></span>
                </div>
                </div>
            </div>

            <!-- rightside the box -->
            <div class="right1">
                <div class="random-photo" style="height: 100% !important;">

                </div>
            </div>
        </div>
    </div>
    <script src="scripts/dynamic3.js"></script>
</body>
</html>